# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Data files (VERY IMPORTANT)
# =========================
data/raw/
data/processed/
*.csv

# =========================
# Model artifacts
# =========================
*.npy
*.pkl
*.pt
*.h5

# =========================
# Cache / temp
# =========================
.cache/